<ion-content>

    <!--Section for closing the modal-->
    <section class="ion-text-end">
        <ion-buttons slot="end">
            <ion-icon name="close-circle" color="primary" (click)="closeUpsDialog()"></ion-icon>
        </ion-buttons>
    </section>


    <!-- Section of the modal for dialog & buttons-->
    <section class="ion-text-center">

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRtjY5wtFmlSYctNDHCwF6QP2tIu5XE7Mn0g&usqp=CAU">
        <h1>Upss</h1>
        <p>Algo ha pasado</p>

    </section>

</ion-content>