<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Jump2 - Dialog design system
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Jump2 - Dialog design system</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong>Ready to create an app?</strong>
        <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    </div>
</ion-content> -->

<ion-header>
    <ion-toolbar>
        <ion-title> Jump2 - Dialog desing systemm</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="full" color="primary" (click)="openCuidadoDialog()">Show cuidado</ion-button>
    <ion-button expand="full" color="primary" (click)="openVamosModal()">Show vamos</ion-button>
    <ion-button expand="full" color="primary" (click)="openUpsModal()">Show ups</ion-button>
</ion-content>